<style>
  p {
    text-transform: uppercase;
  }
</style>

<h1>This is a Rails on Ruby admin system website.</h1>
<h1>This consists of <strong> CRUD </strong>.</h1>
<h1>You will be able to sign up, sign in, edit, view, and delete.</h1>
